body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 2rem;
  text-align: center;
}

.paper-showcase {
  color: var(--main-txt-color);
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.paper-showcase .abstract {
  text-align: justify;
}

.paper-showcase .paper-info-grid {
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.paper-showcase .paper-img {
  margin-left: 0;
  margin-right: 0;
  min-width: 180px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.paper-showcase .paper-img img {
  max-width: 100%;
  max-height: 100%;
  min-width: 80%;
  display: block;
}

.paper-showcase .paper-info {
  text-align: left;
}

.paper-showcase .paper-info a:hover {
  color: var(--hover-color);
}

.low-resolution-warning {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: var(--warning-color);
}

.low-resolution-warning p {
  color: var(--warning-text-color);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
}

.cocoen-container {
  max-width: 600px;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  width: 70%;
}

.cocoen-container select {
  margin-bottom: 20px;
}

@media(max-width:1000px) {
  .paper-showcase {
    width: 100%;
  }

  .paper-showcase .paper-img {
    display: none;
  }

  .paper-showcase .paper-info-grid {
    grid-gap: 0vh;
    grid-template-columns: 1fr;
  }

  .cocoen-container {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    margin: 1rem;
  }

  .paper-showcase .paper-info-grid {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .cocoen-container {
    margin-bottom: 80px;
  }
}

@media (max-width: 500px) {
  .low-resolution-warning {
    display: block;
  }
}
